

body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
	font-size: 1vw;
  width: 100%;
	}

h1, h2, h3, nav{
    text-align: center;
}

nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
}

h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
    
}

#details {
    border-top: 1px solid black;
    padding: 1vw;
    margin: 1vw;
    text-align: left;    
}

img {
    width: 600px;
}
a {
      color: darkgrey;
}

td {
    width: 400px;
}
footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin: 1vw;
    text-align: left;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos, .copyright_text {
    display: inline;
}

.copyright_logo {
		width: 1vw;
		margin:.15vw;
	}
