body {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
    width: 100%;
    text-align:left;
	}
pre {
	padding: 1vw;
	font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
	line-height: 1.25;
    width: 100%;
    text-align:left;
	}
.unclear {
    padding: 1vw;
    font-family: 'Palatino','Palatino Linotype','Palatino LT STD','Book Antiqua','Georgia,serif';
    text-align: left;   
    color: lightgrey;
    font-style: italic;
}